<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>GestiBank</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>Controleur</display-name>
    <servlet-name>Controleur</servlet-name>
    <servlet-class>gestibank.Controleur</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Controleur</servlet-name>
    <url-pattern>/Controleur</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Ctrl_Login</display-name>
    <servlet-name>Ctrl_Login</servlet-name>
    <servlet-class>gestibank.Ctrl_Login</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Ctrl_Login</servlet-name>
    <url-pattern>/Ctrl_Login</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Ctrl_Inscription</display-name>
    <servlet-name>Ctrl_Inscription</servlet-name>
    <servlet-class>gestibank.Ctrl_Inscription</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Ctrl_Inscription</servlet-name>
    <url-pattern>/Ctrl_Inscription</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Ctrl_Inscript</display-name>
    <servlet-name>Ctrl_Inscript</servlet-name>
    <servlet-class>gestibank.Ctrl_Inscript</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Ctrl_Inscript</servlet-name>
    <url-pattern>/Ctrl_Inscript</url-pattern>
  </servlet-mapping>
</web-app>